/* Header.css */
.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-nav {
  display: flex;
  justify-content: center;
}

.nav {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-item {
  text-transform: uppercase;
  font-size: 16px;
}

.nav-item a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.nav-item a:hover {
  color: #61dafb;
}
